<style>
  


  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>&nbsp; Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card card-small">

    <span>{{ title }} app is running!</span>

  </div>

  <!-- Resources -->
  <h2>Search your keyword here</h2>
  <div class="card-container">
    <input id="keyword" type="text" [formControl]="keyword">
    <button (click)="keywordFinder()">Find</button>
  </div>

  <div class="card-container">
    <ul>
      <li *ngFor="let tweet of map | keyvalue | slice:0:currentLimit">
        <h4>{{tweet.value.user.name}}</h4>
        <p>{{tweet.value.text}}</p>
        <button style="width:50%;" *ngIf="loadMore == true && tweet.key == currentLimit" (click)="loadMoreTweets()">Load More</button>
      </li>
    </ul>
  </div>
  <div *ngIf="loader == true" class="card-container">
    loading...
  </div>
  <!-- Footer -->
  <footer>
      &copy; Pranlin Prakash K
  </footer>
</div>

<router-outlet></router-outlet>
